<div class="container">
    <h2>Create</h2>
    <br>




    <form id="createplan">

          <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
    </div>
  </div>

        <div class="input-group input-group-sm mb-3 col-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">B/L</span>
            </div>
            <input type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm" name="BL" id="BL">
        </div>

        <div class="input-group input-group-sm mb-3 col-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Terminal_Name</span>
            </div>
            <input type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm" name="Terminal_Name" id="Terminal_Name">
        </div>

        <div class="input-group input-group-sm mb-3 col-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Container_No</span>
            </div>
            <input type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm" name="Container_No" id="Container_No">
        </div>

        <div class="input-group input-group-sm mb-3 col-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Vassel_No</span>
            </div>
            <input type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm" name="Vassel_No" id="Vassel_No">
        </div>

        <div class="input-group input-group-sm mb-3 col-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">ETA</span>
            </div>
            <input type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm" name="ETA" id="ETA">
        </div>

        <div class="input-group input-group-sm mb-3 col-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Weight</span>
            </div>
            <input type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm" name="Weight" id="Weight">
        </div>

        <div class="input-group input-group-sm mb-3 col-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Seal_No</span>
            </div>
            <input type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm" name="Seal_No" id="Seal_No">
        </div>

        <div class="input-group input-group-sm mb-3 col-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Delivery_Location</span>
            </div>
            <input type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm" name="Delivery_Location" id="Delivery_Location">
        </div>

        {{!-- <div class="input-group input-group-sm mb-3 col-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Status</span>
            </div>
            <select class="form-control" id="exampleFormControlSelect1" name="Status_" id="Status_">
                <option selected>Choose...</option>
                <option>Done</option>
                <option>Pending</option>
            </select>
        </div>

        <div class="input-group input-group-sm mb-3 col-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Return</span>
            </div>
            <select class="form-control" id="exampleFormControlSelect1" name="Return_" id="Return_">
                <option selected>Choose...</option>
                <option>Yes</option>
                <option>No</option>
            </select>
        </div>

                <div class="input-group input-group-sm mb-3 col-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Close</span>
            </div>
            <select class="form-control" id="exampleFormControlSelect1" name="Close_" id="Close_">
                <option selected>Choose...</option>
                <option>Yes</option>
                <option>No</option>
            </select>
        </div> --}}

        <div class="input-group input-group-sm mb-3 col-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Status</span>
            </div>
            <input type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm" name="Status_" id="Status_">
        </div>

        <div class="input-group input-group-sm mb-3 col-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Return</span>
            </div>
            <input type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm" name="Return_" id="Return_">
        </div>

        <div class="input-group input-group-sm mb-3 col-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Close</span>
            </div>
            <input type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm" name="Close_" id="Close_">
        </div>











        {{!-- <div class="form-group col-3">
            <div class="col-sm-10">
                <label for="exampleFormControlInput1">Email address</label>

                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
        </div>




        <form class="form-inline">
            <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Preference</label>
            <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                <option selected>Choose...</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select> --}}


        <button type="submit">Save</button>
    </form>



</div>


<script type="text/javascript">


    $("#createplan").on("submit", function (event) {
        // Make sure to preventDefault on a submit event.
        event.preventDefault();

        var newPlan = {
            BL: $("#BL").val().trim(),
            Terminal_Name: $("#Terminal_Name").val().trim(),
            Container_No: $("#Container_No").val().trim(),
            Vassel_No: $("#Vassel_No").val().trim(),
            ETA: $("#ETA").val().trim(),
            Weight: $("#Weight").val().trim(),
            Seal_No: $("#Seal_No").val().trim(),
            Delivery_Location: $("#Delivery_Location").val().trim(),
            Status_: $("#Status_").val().trim(),
            Return_: $("#Return_").val().trim(),
            Close_: $("#Close_").val().trim()
        };

        // Send the POST request.
        $.ajax("/todos", {
            type: "POST",
            data: newPlan
        }).then(
            function () {
                console.log("created new plan");
                // Reload the page to get the updated list
                location.reload();
            }
        );
    });

</script>